/* ............................................common stylings */
#title, #testimonials, #press, #cta{
    background-color: #d32d51;
}
h1, h2, #footer-title, em{
    color: white;
}
h2, h3{
    font-family: 'Monsterrat-Bold';
    font-weight: 800;
}
body, p, em, #pricing{
    font-family: 'Montserrat', sans-serif;
}
#features, .carousel-inner, #pricing, #cta, #footer{
    padding: 7% 15%;
}
.col-lg-4, #testimonials, #press, #pricing, #cta, #footer{
    text-align: center;
}

/* ...........................................navigation */
.navbar{
    padding-bottom: 5%;
}
.nav-link{
    margin: 0 10% 0 10%;
}


/* ..............................................title */
.container-fluid{
    padding: 3% 15%;
}
.rotate{
    width:25%;
    transform: rotate(10deg);
    margin-left: 10%;
    position: absolute;
}
@media (max-width:1050px) {
    .rotate{
        transform: rotate(0);
        position: static;
        margin: 0;
        width:75%;
    }
    .container-fluid{
        text-align: center;
    }
    
}

/* ......................................Download Butoons */
.download-btn{
    margin: 7% 1% 20% 0;
}


/* ............................................features */
#features{
    position: relative;
    background-color: white;
}
.feature-icons{
    font-size: 70px;
    color: #d32d51;
    margin-bottom: 1rem;
}
.feature-icons:hover{
    color: rgb(255, 0, 85);
}
.col-lg-4{
    padding: 5% ;
}


/* .........................................testimonials */
.testimonial-image{
    width: 100px;
    border-radius: 100%;
    margin: 20px 20px 0;
}

#press{
    padding: 0 15% 7%;
}
.press-logo{
    margin:20px;
    width: 20%;
}


/* ...........................................pricing */
.pricing-header, .pricing-h2{
    color: black;
}


/* ........................................call to action */
.download-btn-foot{
    margin: 0 1%;
}
#footer-title{
    font-family: 'Monsterrat-Black';
    font-size: 3rem;
    margin-bottom: 4%;
}


/* ............................................footer */
.social-icons{
    padding: 1%;
}
.footer-icons{
    margin: 0 2% 0;
}


/* ...........................................others */
h1{
    font-family: 'Ubuntu-black', sans-serif;
    margin-top: 3%;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-size: 3rem;
}
h3{
    font-weight: 1.5rem;   
}
